@use "sass:map";

$theme-colors: (
  'light': (
    'sidebar-bg': #fff,
    'sidebar-bg-hover': #f0f2ff,
    'sidebar-bg-active': #f0f2ff,
    'text': #97a5b9,
    'text-hover': #091b31,
    'text-active': #0000b5,
    'logo': #0000b5,
    'button-bg': #fff,
    'button-bg-active': #e2e8f0,
  ),
  'dark': (
    'sidebar-bg': #202127,
    'sidebar-bg-hover': #2D2E34,
    'sidebar-bg-active': #393A3F,
    'text': #f0f2ff,
    'text-hover': #f0f2ff,
    'text-active': #f0f2ff,
    'logo': #3B82F6,
    'button-bg': #202127,
    'button-bg-active': #4B5966,
  )
);

$theme: 'light';

@mixin theme($theme-name) {
  @each $key, $value in map.get($theme-colors, $theme-name) {
    --color-#{$key}: #{$value};
  }
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e2e8f0;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  padding: 0;
  @include theme($theme);
}

.active {
  color: var(--color-primary);
  font-weight: bold;
}